CV/CV_Grade_AI_AUTOMATION.json
{
  "name": "CV_Grade_AI_AUTOMATION",
  "nodes": [
    {
      "parameters": {
        "formTitle": "CV SUBMISSION",
        "formDescription": "Submit your CV here , we will review it ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Attach Your CV",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Select your Domain of Interest",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AI/ML"
                  },
                  {
                    "option": "Web/Mobile App"
                  },
                  {
                    "option": "Cloud Computing"
                  },
                  {
                    "option": "Blockchain"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1216,
        192
      ],
      "id": "fb2aa011-bae4-48bd-af2f-d69d7844f8b9",
      "name": "On form submission",
      "webhookId": "b5128703-2eb6-4f5e-b899-ab74b1a1ec8e"
    },
    {
      "parameters": {
        "binaryPropertyName": "Attach_Your_CV",
        "docName": "Ishwa_Nasir_AI_Engineer.pdf"
      },
      "type": "n8n-nodes-pdf4me.PDF4me",
      "typeVersion": 1,
      "position": [
        -880,
        288
      ],
      "id": "fb6c87d8-91ac-438a-aa6f-fe96dcafc3ac",
      "name": "PDF4me",
      "credentials": {
        "pdf4meApi": {
          "id": "MhqqM36R4e7hLnAs",
          "name": "PDF4ME account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=CV CONTENT: {{ $json.texts }}\nDOMAIN OF INTEREST SELECTED: {{ $('On form submission').item.json['Select your Domain of Interest'] }}"
            }
          ]
        },
        "options": {
          "systemMessage": "You are an expert HR assistant and career advisor, analyze the attached CV content against the user’s selected domain of interest, score the CV from 1 to 10 for relevance, and provide exactly a two-line professional remark about the candidate’s suitability.",
          "maxOutputTokens": 90
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -624,
        272
      ],
      "id": "1819e600-eb45-4cff-a506-f27642521770",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q84xNxUhLw6AzJJJ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "hinzanno@gmail.com",
        "subject": "CV REVIEW",
        "emailType": "text",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=Attach_Your_CV"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "37980702-af99-4290-94f7-6cf4b3691e85",
      "name": "Send a message",
      "webhookId": "98bb8fce-12b5-47db-bcbf-6245a8fdd12a",
      "credentials": {
        "gmailOAuth2": {
          "id": "oRFJS5dQ1Sg9u95N",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -304,
        16
      ],
      "id": "9b34fa57-c41e-427d-b528-1a3b1754432d",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "PDF4me",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PDF4me": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7040d356-f0d0-4012-b811-3b2778c3bb3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d67dab5faf2a9f51d1843bfc7a4bc91815ba13b840615d61b02db3201dd7b"
  },
  "id": "QXMD3dQzwaUzkH4L",
  "tags": []
}
